In [1]:
#Substraction two numbers

num = 37.69
num2 = 17.73

sub= num - num2

print("Substraction of ",num," +",num2,"=",sub)

Substraction of  37.69  + 17.73 = 19.959999999999997

In [3]:
n1 = input("enter first number ")
n2 = input("enter second number ")

sub =float(n1)-float(n2)

print(sub)

enter first number 55.67
enter second number 34.45
21.22

In [ ]:
#Multiplication

In [7]:
num = 37.69
num2 = 17.73

mul = num * num2

print("mul of {0} + {1} = {2}".format(num,num2,mul))

mul of 37.69 + 17.73 = 668.2437

In [8]:
print('The multiplication is %.1f' %(float(input('Enter first no.')) * float(input('Enter second no.'))))

Enter first no.34
Enter second no.44
The multiplication is 1496.0

In [19]:
#division

In [20]:
print('The div is %.1f' %(float(input('Enter first no.')) / float(input('Enter second no.'))))

Enter first no.456.7
Enter second no.7
The div is 65.2

In [9]:
#swap of two numbers
ax=int(input('first no.'))
by=int(input('second no.'))
ax=ax+by
by=ax-by
ax=ax-by
print('ax=',ax ,'by=',by)

first no.22
second no.55
ax= 55 by= 22

In [10]:
#swap two numbers using only two numbers
x=input('first no.')
y=input('second no.')
x,y=y,x
print('x=',x ,'y=',y)

first no.44
second no.55
x= 55 y= 44

In [11]:
#max and min for two no.
no1=10
no2=20

if(no1>no2):
	print('no1 is maximum and no2 is minimum')
else :
	print('no2 is maximum and no1 is minimum')

no2 is maximum and no1 is minimum

In [16]:

#max and  from three numbers

x=int(input('first no.'))
y=int(input('second no.'))
z=int(input('third no.'))

if x>y and x>z:
	print("x",x," is maximum")
elif y>z :
	print("y",y," is maximum")
else :
	print("z =",z," is maximum")

first no.11
second no.44
third no.77
z = 77  is maximum

In [15]:
#min from three numbers

x=int(input('first no.'))
y=int(input('second no.'))
z=int(input('third no.'))

if x<y and x<z:
	print("x",x," is minimum")
elif y<z :
	print("y",y," is minimum")
else :
	print("z = ",z," is minimum")

first no.44
second no.33
third no.22
z =  22  is minimum

In [ ]:
#calendar

In [18]:
import calendar
yy = 2015
mm = 2
print(calendar.month(yy,mm))

   February 2015
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

In [ ]:
#square

In [21]:
print(' p p p p p\n','p\t','p\n','p\t','p\n','p p p p p ')

 p p p p p
 p	 p
 p	 p
 p p p p p

In [ ]:
#circle

In [22]:
print('   p p p  \n','p\t','p\n','p\t','p\n','  p p p   ')

   p p p
 p	 p
 p	 p
   p p p

In [ ]:
#rectangle

In [23]:
print(' p p p p p p p p p\n','p\t\t','p\n','p\t\t','p\n','p p p p p p p p p ')

 p p p p p p p p p
 p		 p
 p		 p
 p p p p p p p p p

In [ ]:
#triangle

In [24]:
print('         p    \n','     p\t','   p\n','   p\t','      p\n','  p   p   p   p  p')

         p
      p	    p
    p	       p
   p   p   p   p  p

In [ ]:
#string formating

In [25]:
fullname ="hellow to all welcome to the world of python and lets all come together to learn python"
print(fullname.title())

Hellow To All Welcome To The World Of Python And Lets All Come Together To Learn Python

In [29]:
words = [word.lower() for word in fullname.split()]
words.sort()

for word in words:
 print(word)

all
all
and
come
hellow
learn
lets
of
python
python
the
to
to
to
together
welcome
world